 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre mí</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Ingeniero Civil Informático de la Universidad de Santiago de Chile con experiencia Freelance Desarrollando proyectos para Web y Móvil. También he realizado investigación en el área de Visión por Computador.</p>
                </div>
                <div class="col-lg-4">
                    <p>Estoy constante mejora de mis conocimientos y habilidades con el objetivo de prestar el mejor servicio y desarrollar soluciones informáticas de eficientes y de calidad para mis clientes.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Descargar currículo
                    </a>
                </div>
            </div>
        </div>
    </section>